node_modules

# Next.js
.next/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Drizzle
drizzle/
.drizzle/

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# clerk configuration (can include secrets)
/.clerk/
